body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: black;
}
body::-webkit-scrollbar {
    width: 0.0001px;
}
.logo-container {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: transparent;
    padding:20px;
    align-items: center;
    z-index: 2;
    height: 100px;
    width: 200px;
}

.logo {
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #e2dddd;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-family: cursive;
    cursor:pointer;
    z-index: 99;
    background-color: transparent;
}
.half:hover {
    display: inline-block;
    transform-origin: 50% 50%;
}

.logo:hover .half:nth-child(1) {
    animation: rotateHalfZ 3s infinite linear;
}

.logo:hover .half:nth-child(2) {
    animation: rotateHalfE 3s infinite linear;
}

@keyframes rotateHalfZ {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
}

@keyframes rotateHalfE {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg);
    }
}
.modal {
    display: none;
    position: fixed;
    align-items: center;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 1500px;
    background-color: transparent;
}
#timeline-btn {
    position: fixed;
    left: 1200px;
    top:50px;
    padding: 10px 20px;
    font-size: 30px;    
    color: rgb(203, 204, 205);
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    z-index: 99;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.192);
    box-shadow: 0 8px 32px 0 rgba(249, 249, 250, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 50px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
  }

#timeline-btn:hover{
    transform: scale(1.1);
}
.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: #666; 
  border-radius: 10px;
  position: absolute;
}

.current-progress {
  height: 100%;
  background: radial-gradient(circle at 10% 20%, rgb(183, 93, 3) 0%, rgb(220, 145, 5) 90%);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  animation: fillProgress 3s ease-out forwards;
}
@keyframes fillProgress {
    from {
      width: 0;
    }
    to {
      width: calc(100% / 3 );
    }
  }
.progress-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.progress-labels span {
  font-size: 15px;
  color: #d8d5d5;
  font-weight: bold;
  z-index: 9;
}

.wrapper h2,
.wrapper2 h2,
.wrapper3 h2 {
    margin-top: 15px; 
    margin-bottom: 15px; 
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    z-index: 99;
}


.wrapper{
    position: relative;
    color:rgb(203, 204, 205);
    top:50px;
    left:200px;
    background: rgba(255, 255, 255, 0.192);
    box-shadow: 0 8px 32px 0 rgba(249, 249, 250, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 50px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
    height: 500x;
    width: 600px;
    z-index: 8;
    padding:12px;
}
.wrapper2{
    position: relative;
    color:rgb(203, 204, 205);
    top:150px;
    left:900px;
    background: rgba(255, 255, 255, 0.192);
    box-shadow: 0 8px 32px 0 rgba(249, 249, 250, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 50px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
    height: 530px;
    width: 600px;
    z-index: 8;
    padding:12px;
}
.wrapper3{
    position: relative;
    color:rgb(203, 204, 205);
    top:150px;
    left:180px;
    background: rgba(255, 255, 255, 0.192);
    box-shadow: 0 8px 32px 0 rgba(249, 249, 250, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 50px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
    height: 600px;
    width: 600px;
    z-index: 8;
    padding:12px;
}
.wrapper p,
.wrapper2 p,
.wrapper3 p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    align-items: center;
    justify-content:left;
    text-align: left;
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    margin: 0;
    z-index: 999;
}
